.card {
	height: 350px;
	background: #eee;
}

.card-avatar img {
   border-width: 4px;
   border-style: outset;
   border-color: #BC426A;
}

.nombre_miembro {
	font-size: 20px;
}

.titulo_participacion {
	font-size: 16px;
}