@import url(https://fonts.googleapis.com/css?family=Raleway:300);

* {
	font-family: 'Raleway', sans-serif;
}

nav#nav_principal ul li a{
  color: black;
}

.btn_programa {
	margin: 3px;
}

.color_oficial {
	color: #BC426A;
}

.header {
	width: 100%;
}

.btn_secondary_bar {
	font-size: 14px;
}