<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>DocumentaQro</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    <!-- CSS  -->
    <link href="{% static "min/custom-min.css" %}" type="text/css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/general.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"> 
    {% block head %}
    {% endblock head %}
</head>
<body id="top" class="scrollspy">

<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>
 
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
 
</div>

<!--Navigation-->
 <div class="navbar-fixed">
    <nav id="nav_principal" class="" role="navigation" style="background:#8ECAB5;">
        <div class="container">
            <div class="nav-wrapper">
            <a href="{% url 'index' %}" id="logo-container" class="brand-logo"><img src="{% static "img/documentaqro_logo3.png" %}" class="responsive-img" style="margin-top:11px;"></a>
                <ul class="right hide-on-med-and-down">
                    {% for festival in festivales %}
                        <li class="active"><a href="{% url 'evento' festival.pk %}" style="font-size:14px">{{ festival.nombre_corto }}</a></li>
                    {% endfor %}
                    <li><a href="{% url 'nosotros' %}" style="font-size:14px">Nosotros</a></li>
                    <li><a href="{% url 'blog' %}" style="font-size:14px">Blog</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav"> 
                    {% for festival in festivales %}
                        <li><a href="{% url 'evento' festival.pk %}" style="font-size:12px">{{ festival.nombre_corto }}</a></li>
                    {% endfor %}
                    <li><a href="{% url 'nosotros' %}" style="font-size:12px">Nosotros</a></li>
                    <li><a href="{% url 'blog' %}" style="font-size:12px">Blog</a></li>
                    </a></li>
                </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large blue darken-4">
      <i class="zmdi zmdi-facebook"></i>
    </a>
    <ul>
      <li><a class="btn-floating blue darken-4" href="{{ redes_sociales.facebook }}" target="_blank"><i class="zmdi zmdi-facebook"></i></a></li>
      <li><a class="btn-floating blue lighten-1" href="{{ redes_sociales.twitter }}" target="_blank"><i class="zmdi zmdi-twitter"></i></a></li>
      <li><a class="btn-floating lime darken-4" href="{{ redes_sociales.instagram }}" target="_blank"><i class="zmdi zmdi-instagram"></i></a></li>
      <li><a class="btn-floating deep-orange darken-1" href="{{ redes_sociales.mailchimp }}" target="_blank"><i class="zmdi zmdi-email"></i></a></li>
    </ul>
</div>

{% block content %}
{% endblock content %}

<!--Footer-->
<footer id="contact" class="page-footer transparent scrollspy" >

    <a href="{% url 'patrocinadores' %}"><img src="{% static "img/patrocinadores3.png" %}" class="responsive-img center" style="width:100%;"></a>
    
</footer>


    <!--  Scripts-->
    <script src="{% static "min/plugin-min.js" %}"></script>
    <script src="{% static "min/custom-min.js" %}"></script>

    {% block scripts %}
    {% endblock scripts %}

</body>
</html>
