<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>DocumentaQro</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    <!-- CSS  -->
    <link href="{% static "min/custom-min.css" %}" type="text/css" rel="stylesheet">
</head>
<body id="top" class="scrollspy">

<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>
 
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
 
</div>

<!--Navigation-->
 <div class="navbar-fixed">
    <nav id="nav_f" class=" pink darken-1" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="{% url 'index' %}" id="logo-container" class="brand-logo"><img src="{% static "img/documentaqro_logo2.png" %}" class="responsive-img"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="{% url 'patrocinadores' %}">Patrocinadores</a></li>
                    <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="#contact">Contacto</a></li>
                    </a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#intro">Inicio</a></li>
                    <li><a href="#work">Patrocinadores</a></li>
                    <li><a href="#team">Nosotros</a></li>
                    <li><a href="#contact">Blog</a></li>
                    <li><a href="#contact">Contacto</a></li>
                    </a></li>
                </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>

{% block content %}
{% endblock content %}

<!--Footer-->
<footer id="contact" class="page-footer transparent scrollspy" >

    <img src="{% static "img/patrocinadores.jpg" %}" class="responsive-img">
    
</footer>


    <!--  Scripts-->
    <script src="{% static "min/plugin-min.js" %}"></script>
    <script src="{% static "min/custom-min.js" %}"></script>

    </body>
</html>
