{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="section scrollspy" id="work">
    <div class="container">
        <h4 class="header text_b">Contacto</h4>
        <div class="row">
		    <form class="col s12" method="post">
		      {% csrf_token %}
		      <div class="row">
		        <div class="input-field col s12">
		          <i class="material-icons prefix">account_circle</i>
		          {{ form.nombre }}
		          <label for="icon_prefix">Nombre</label>
		          <div style="color:red;">{{ form.nombre.errors }}</div>
		        </div>
		        <div class="input-field col s12">
		          <i class="material-icons prefix">email</i>
		          {{ form.correo }}
		          <label for="icon_telephone">Correo</label>
		          <div style="color:red;">{{ form.correo.errors }}</div>
		        </div>
		        <div class="input-field col s12">
		          <i class="material-icons prefix">message</i>
		          {{ form.mensaje }}
		          <label for="textarea1">Mensaje</label>
		          <div style="color:red;">{{ form.mensaje.errors }}</div>
		        </div>
		        <div class="input-field col s4">
		        	<input type="submit" class="btn btn-default" value="Enviar">
		        </div>
		      </div>
		    </form>
		</div>
		<div class="row">
			<div  class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <a href="{{ redes_sociales.facebook }}" target="_blank">
                      <img src="{% static "img/facebook_circle_2.png" %}">
                      <h5 class="promo-caption flow-text">Síguenos en Facebook</h5>
                    </a>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <a href="{{ redes_sociales.twitter }}" target="_blank">
                      <img src="{% static "img/twitter_circle.png" %}">
                      <h5 class="promo-caption flow-text">Síguenos en Twitter</h5>
                    </a>
                </div>
            </div>
            <div  class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <a href="{{ redes_sociales.instagram }}" target="_blank">
                      <img src="{% static "img/instagram_circle_2.png" %}">
                      <h5 class="promo-caption flow-text">Síguenos en Instagram</h5>
                    </a>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="center promo promo-example">
                    <a href="mailto:{{ redes_sociales.correo_principal }}">
                      <img src="{% static "img/mail_circle_2.png" %}">
                      <h5 class="promo-caption flow-text">{{ redes_sociales.correo_principal }}</h5>
                    </a>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="center promo promo-example">
                    <a href="{{ redes_sociales.mailchimp }}">
                      <img src="{% static "img/list_circle_2.png" %}">
                      <h5 class="promo-caption flow-text">Suscríbete</h5>
                    </a>
                </div>
            </div>	
		</div>
    </div>
</div>

{% endblock content %}