{% extends "base.html" %}
{% load static %}

{% block content %}

{% if evento %}

<!--Parallax-->
<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="{{ evento.imagen_principal.url }}"></div>
    <div class="container">
    	<div class="row">
    		<div class="s12 center-align center circle valign center-block">
    			<div class="center-align center circle valign center-block" style="background:white;padding:5px;display: inline-block;">
			    	<img class="center-align center circle responsive-img valign center-block" src="{{ evento.logo.url }}" style="width:120px;height:120px;">
			    </div>
    		</div>
    		<div class="s12 center-align center valign center-block">
    			<h3 class="white-text">{{ evento.nombre }}</h3>
    		</div>
    	</div>
    </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h4 class="center header text_h2 flow-text">{{ evento.descripcion }}</h4>
            </div>
        </div>
    </div>
</div>

<div class="section scrollspy">
    <div class="container">
        <h2 class="header text_b">Proyecciones</h2>
        <div class="row">
        	<calendar-md flex layout layout-fill
			  calendar-direction="direction"
			  on-prev-month="prevMonth"
			  on-next-month="nextMonth"
			  on-day-click="dayClick"
			  title-format="'MMMM y'"
			  ng-model='selectedDate'
			  day-format="'d'"
			  day-label-format="'EEE'"
			  day-label-tooltip-format="'EEEE'"
			  day-tooltip-format="'fullDate'"
			  week-starts-on="firstDayOfWeek"
			  day-content="setDayContent"></calendar-md>
        </div>
    </div>
</div>

{% else %}

asd

{% endif %}

{% endblock content %}

{% block scripts %}

<script src="https://cdn.rawgit.com/bradberger/angular-material-calendar/master/dist/angular-material-calendar.js"></script>

{% endblock scripts %}