{% extends "base.html" %}
{% load static %}

{% block content %}

{% if evento %}

<div class="navbar-fixed hide-on-small-only" id="inicio">
    <nav id="nav_f" class="" role="navigation" style="background:{{ evento.color }}">
        <div class="container">
            <div class="nav-wrapper">
                <ul class="hide-on-med-and-down center">
                    <li><a href="#inicio" style="color:{{ evento.color_texto_nav }};">{{ evento.nombre }}</a></li>
                    <li><a href="#programa" style="color:{{ evento.color_texto_nav }};">Programa</a></li>
                    {% if jurado %}
                    <li><a href="#jurado" style="color:{{ evento.color_texto_nav }};">Jurado</a></li>
                    {% endif %}
                    {% if invitados_especiales %}
                    <li><a href="#invitados_especiales" style="color:{{ evento.color_texto_nav }};">Invitados especiales</a></li>
                    {% endif %}
                    {% if talleristas %}
                    <li><a href="#talleristas" style="color:{{ evento.color_texto_nav }};">Talleristas</a></li>
                    {% endif %}
                    {% if evento.arte %}
                    <li><a href="#arte" style="color:{{ evento.color_texto_nav }};">Arte</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>

<!--Parallax-->
<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="{{ evento.imagen_principal.url }}"></div>
    <div class="container">
    	<div class="row">
    		<div class="s12 center-align center valign center-block">
			    <img class="center-align center responsive-img valign center-block" src="{{ evento.logo.url }}">
    		</div>
    		<div class="s12 center-align center valign center-block">
    			<h3 class="white-text">{{ evento.nombre }}</h3>
    		</div>
    	</div>
    </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4 class="center header text_h2 flow-text">{{ evento.descripcion }}</h4>
            </div>
            <div class="col s12 center">
                <a class="waves-effect waves-light btn center-align" href="{% url 'eventos_anteriores' festival.pk %}" style="background:{{ evento.color }}">Ediciones anteriores</a>
            </div>
        </div>
    </div>
</div>

<div class="divider" id="programa"></div>

</br>
</br>
</br>
</br>
</br>

<div class="section scrollspy">
    <div class="container">
        <h4 class="header text_b">Programa</h4>
        <div class="row">
        	{% if seleccion_oficial %}
                <div class="col s12 m6 l3" style="padding:3px">
                    <a class="waves-effect waves-light btn col s12" href="{% url 'seleccion_oficial' evento.pk %}" style="background:{{ evento.color }}">Selección oficial</a>
                </div>
            {% endif %}
            {% if proyecciones %}
                <div class="col s12 m6 l3" style="padding:3px">
                    <a class="waves-effect waves-light btn col s12" href="{% url 'proyecciones' evento.pk %}" style="background:{{ evento.color }}">Proyecciones</a>
                </div>
            {% endif %}
            {% if conferencias %}
                <div class="col s12 m6 l3" style="padding:3px">
                    <a class="waves-effect waves-light btn col s12" href="{% url 'conferencias' evento.pk %}" style="background:{{ evento.color }}">Conferencias</a>
                </div>
            {% endif %}
            {% if talleres %}
                <div class="col s12 m6 l3" style="padding:3px">
                    <a class="waves-effect waves-light btn col s12" href="{% url 'talleres' evento.pk %}" style="background:{{ evento.color }}">Talleres</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% if jurado %}
<div class="divider" id="jurado"></div>

</br>
</br>
</br>
</br>
</br>

<div class="section scrollspy">
    <div class="container">
        <h4 class="header text_b">Jurado</h4>
        <div class="row">
            <div class="col s12">
                <h4 class="center header text_h2 flow-text">{{ evento.texto_introductorio_jurado }}</h4>
            </div>
        	{% for miembro in jurado %}
            <div class="col s12 m3">
                <div class="card card-avatar" style="height: 300px;">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{{ miembro.foto.url }}" style="margin-top: 5px;">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ miembro.nombre }}<br/>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title"><i class="mdi-navigation-close right"></i></span>
                        <p>{{ miembro.descripcion }}</p>
                     </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endif %}


{% if invitados_especiales %}
<div class="divider" id="invitados_especiales"></div>

</br>
</br>
</br>
</br>
</br>

<div class="section scrollspy">
    <div class="container">
        <h4 class="header text_b">Invitados especiales</h4>
        <div class="row">
            <div class="col s12">
                <h4 class="center header text_h2 flow-text">{{ evento.texto_introductorio_invitados_especiales }}</h4>
            </div>
            {% for miembro in invitados_especiales %}
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{{ miembro.foto.url }}" style="margin-top: 5px;">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ miembro.nombre }}<br/>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title"><i class="mdi-navigation-close right"></i></span>
                        <p>{{ miembro.descripcion }}</p>
                     </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endif %}


{% if talleristas %}
<div class="divider" id="talleristas"></div>

</br>
</br>
</br>
</br>
</br>

<div class="section scrollspy">
    <div class="container">
        <h4 class="header text_b">Talleristas</h4>
        <div class="row">
            <div class="col s12">
                <h4 class="center header text_h2 flow-text">{{ evento.texto_introductorio_talleristas }}</h4>
            </div>
            {% for miembro in talleristas %}
            <div class="col s12 m3">
                <div class="card card-avatar" style="height: 300px;">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{{ miembro.foto.url }}" style="margin-top: 5px;">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ miembro.nombre }}<br/>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title"><i class="mdi-navigation-close right"></i></span>
                        <p>{{ miembro.descripcion }}</p>
                     </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endif %}


{% if evento.arte %}
<div class="divider" id="arte"></div>

</br>
</br>
</br>
</br>
</br>

<div class="section scrollspy">
    <div class="container">
        <h4 class="header text_b">Arte</h4>
        <div class="row">
        	 <img src="{{ evento.arte.url }}" class="responsive-img">
        </div>
    </div>
</div>
{% endif %}

{% if evento.patrocinadores %}
<div class="divider" id="patrocinadores"></div>

</br>
</br>
</br>
</br>
</br>

<div class="section scrollspy">
    <div class="container">
        <h4 class="header text_b">Patrocinadores</h4>
        <div class="row">
            <img src="{{ evento.patrocinadores.url }}" class="responsive-img">
        </div>
    </div>
</div>
{% endif %}

{% else %}

<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4 class="center header text_h2 flow-text">Por el momento no hay ningún evento de este festival próximo o en curso.</h4>
            </div>
            <div class="col s12 center">
                <a class="waves-effect waves-light btn center-align" href="{% url 'eventos_anteriores' festival.pk %}">Ediciones anteriores</a>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock content %}

{% block scripts %}

<script type="text/javascript">
	$(function() {
	  $('a[href*="#"]:not([href="#"])').click(function() {
	    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
	      var target = $(this.hash);
	      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
	      if (target.length) {
	        $('html, body').animate({
	          scrollTop: target.offset().top
	        }, 1000);
	        return false;
	      }
	    }
	  });
	});
</script>

{% endblock scripts %}