{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="section scrollspy">
    <div class="container">
        <h4 class="header text_b">Patrocinadores</h4>
        <div  class="col s12">
            <h4 class="center header text_h2 flow-text">¡Agradecemos eternamente a todas las organizaciones, negocios, instituciones y amigxs, que nos apoyan para llevar arte, información, educación y conciencia a todo Querétaro a través de cine documental! ¡Mucho docuamor, larga vida y un aplauso de pie para todxs!
            <br>
            <br>
            Si quieres convertirte en un patrocinador, contáctanos en <span style="color:#BC426A;">hola@documentaqro.com</span>
            </h4>
        </div>
    </div>
</div>

{% endblock content %}