{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="navbar-fixed hide-on-med-and-down" id="inicio">
    <nav id="nav_f" class="" role="navigation" style="background:{{ evento.color }}">
        <div class="container">
            <div class="nav-wrapper">
                <a href="{% url 'evento_anterior' evento.pk %}" class="brand-logo center">{{ evento.nombre }}</a>
            </div>
        </div>
    </nav>
</div>

<!--Parallax-->
<div class="parallax-container valign-wrapper">
    {% if evento.header_proyecciones %}
      <div class="parallax"><img src="{{ evento.header_proyecciones.url }}"></div>
    {% else %}
      <div class="parallax"><img src="{{ evento.logo.url }}"></div>
    {% endif %}
</div>


<div class="section scrollspy" id="work">
    <div class="container">
    	<h4 class="header text_b">Proyecciones</h4>
    	<!-- <div class="row">
    		<div class="input-field col s12" style="float:right;">
    		  <div class="col s12 m6 l6" style="padding:3px">
    		  	<a class="waves-effect waves-light btn col s12" id="btn_seleccion_nacional" style="background:{{ evento.color }}">Nacional</a>
    		  </div>
    		  <div class="col s12 m6 l6" style="padding:3px">
    		  	<a class="waves-effect waves-light btn col s12" id="btn_seleccion_internacional" style="background:{{ evento.color }}">Internacional</a>
    		  </div>
	          
	          
	        </div>
    	</div> -->
    	<div id="div_proyecciones">
          {% for fecha in dates %}
           {% for dia, proyecciones_list in proyecciones.items %}
             {% if fecha|date:"Y-m-d" == dia %}
              <div class="row">
              <h4>
              {% if fecha|date:"w" == "0" %}
                Domingo
              {% elif fecha|date:"w" == "1" %}
                Lunes
              {% elif fecha|date:"w" == "2" %}
                Martes
              {% elif fecha|date:"w" == "3" %}
                Miércoles
              {% elif fecha|date:"w" == "4" %}
                Jueves
              {% elif fecha|date:"w" == "5" %}
                Viernes
              {% elif fecha|date:"w" == "6" %}
                Sábado
              {% endif %}

              {{ fecha|date:"d" }}

              de

              {% if fecha|date:"n" == "1" %}
                Enero
              {% elif fecha|date:"n" == "2" %}
                Febrero
              {% elif fecha|date:"n" == "3" %}
                Marzo
              {% elif fecha|date:"n" == "4" %}
                Abril
              {% elif fecha|date:"n" == "5" %}
                Mayo
              {% elif fecha|date:"n" == "6" %}
                Junio
              {% elif fecha|date:"n" == "7" %}
                Julio
              {% elif fecha|date:"n" == "8" %}
                Agosto
              {% elif fecha|date:"n" == "9" %}
                Septiembre
              {% elif fecha|date:"n" == "10" %}
                Octubre
              {% elif fecha|date:"n" == "11" %}
                Noviembre
              {% elif fecha|date:"n" == "12" %}
                Diciembre
              {% endif %}
              </h4>
                  {% for proyeccion in proyecciones_list %}
  		            <div class="col s12 m6 l4">
  		                <div class="card">
  		                    <div class="card-image waves-effect waves-block waves-light">
  		                        <img class="activator" src="{{ proyeccion.sede.imagen.url }}" style="height: 150px">
  		                    </div>
  		                    <div class="card-content">
                              <h5>{{ proyeccion.nombre }}</h5>
                              <p>{{ proyeccion.descripcion }}</p>
                              <p><b>Hora:</b> {{ proyeccion.fecha_y_hora|date:"H:i" }}</p>
                              <p><b>Lugar:</b> {{ proyeccion.sede.nombre }}</p>
                              <p><b>Películas:</b></p>
                              {% for pelicula in proyeccion.pelicula_set.all %}
                                {% if forloop.last %}
                                <a class="modal-trigger" href="#modal{{ pelicula.pk }}">{{ pelicula.nombre }}</a>
                                {% else %}
                                <a class="modal-trigger" href="#modal{{ pelicula.pk }}">{{ pelicula.nombre }}</a>,
                                {% endif %}

                                <!-- Modal Structure -->
                                <div id="modal{{ pelicula.pk }}" class="modal">
                                  <div class="modal-content">
                                    <h4>{{ pelicula.nombre }}</h4>
                                    <div class="row">
                                        <div class="col s4">
                                            <img src="{{ pelicula.poster.url }}" class="responsive-img">
                                        </div>
                                        <div class="col s8">
                                            <p>{{ pelicula.sinopsis }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 m6">
                                          <p><b>Director: </b>{{ pelicula.director }}</p>
                                          <p><b>Origen: </b>{{ pelicula.origen }}</p>
                                          <p><b>Año: </b>{{ pelicula.year }}</p>
                                          <p><b>Duración: </b>{{ pelicula.duracion }}</p>
                                        </div>
                                        <div class="col s12 m6">
                                            <img src="{{ pelicula.still.url }}" class="responsive-img">
                                        </div>
                                    </div>
                                    {% if pelicula.trailer %}
                                      <div class="row">
                                          <div class="col s12">
                                              <iframe width="100%" height="200"
                                              src="http://www.youtube.com/embed/{{ pelicula.trailer }}">
                                              </iframe> 
                                          </div>
                                      </div>
                                    {% endif %}
                                    
                                  </div>
                                  <div class="modal-footer">
                                    <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
                                  </div>
                                </div>
                              {% endfor %}
  		                        <!--<p><a class="modal-trigger waves-effect waves-light btn white-text" href="">Ver más</a></p>-->
  		                    </div>
  		                </div>
  		            </div>
                  {% endfor %}
              </div>
              {% endif %}
	        	{% endfor %}
          {% endfor %}

	        <div class="pagination">
			    <span class="step-links">
			        {% if days.has_previous %}
			            <a href="?page={{ days.previous_page_number }}">Anterior</a>
			        {% endif %}

			        <span class="current">
			            Página {{ days.number }} de {{ days.paginator.num_pages }}.
			        </span>

			        {% if days.has_next %}
			            <a href="?page={{ days.next_page_number }}">Siguiente</a>
			        {% endif %}
			    </span>
			</div>
    	</div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function(){
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal-trigger').leanModal();
    });
</script>
{% endblock scripts %}