{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
      <div class="row">
        <div class="s12 center-align center circle valign center-block">
          <div class="center-align center circle valign center-block" style="background:white;padding:5px;display: inline-block;">
            <a href="{% url 'evento_anterior' evento.pk %}"><img class="center-align center circle responsive-img valign center-block" src="{{ evento.logo.url }}"></a>
          </div>
        </div>
        <div class="s12 center-align center valign center-block">
          <!--<h3 class="black-text">{{ evento.nombre }}</h3>-->
        </div>
      </div>
</div>

<div class="section scrollspy">
    <div class="container">
    	<h4 class="header text_b">Selección oficial</h4>
    	<div class="row">
    		<div class="input-field col s12" style="float:right;">
    		  <div class="col s12 m6 l6" style="padding:3px">
    		  	<a class="waves-effect waves-light btn col s12" id="btn_seleccion_nacional" style="background:{{ evento.color }}">Nacional</a>
    		  </div>
    		  <div class="col s12 m6 l6" style="padding:3px">
    		  	<a class="waves-effect waves-light btn col s12" id="btn_seleccion_internacional" style="background:{{ evento.color }}">Internacional</a>
    		  </div>
	          
	          
	        </div>
    	</div>
    	<div id="div_peliculas">
    		<div class="row">
		    	{% for pelicula in seleccion_oficial %}
		            <div class="col s12 m6 l4">
		                <div class="card" style="height: 350px">
		                    <div class="card-image waves-effect waves-block waves-light">
		                        <img class="activator" src="{{ pelicula.still.url }}" style="height: 150px">
		                    </div>
		                    <div class="card-content">
		                        <p>{{ pelicula.nombre }}</p>
                            <p>Origen: {{ pelicula.origen }}</p>
		                        <p><a class="modal-trigger waves-effect waves-light" href="#modal{{ pelicula.pk }}">Ver más</a></p>
		                    </div>
		                </div>
		            </div>

                    <!-- Modal Structure -->
                      <div id="modal{{ pelicula.pk }}" class="modal">
                        <div class="modal-content">
                          <h4>{{ pelicula.nombre }}</h4>
                          <div class="row">
                              <div class="col s4">
                                  <img src="{{ pelicula.poster.url }}" class="responsive-img">
                              </div>
                              <div class="col s8">
                                  <p>{{ pelicula.sinopsis }}</p>
                              </div>
                          </div>
                          <div class="row">
                              <p><b>Director: </b>{{ pelicula.director }}</p>
                              <p><b>Origen: </b>{{ pelicula.origen }}</p>
                              <p><b>Año: </b>{{ pelicula.year }}</p>
                              <p><b>Duración: </b>{{ pelicula.duracion }}</p>
                          </div>
                          <div class="row">
                              <div class="col s12 m6">
                                  <img src="{{ pelicula.still.url }}" class="responsive-img">
                              </div>
                              {% if pelicula.trailer %}
                              <div class="col s12 m6">
                                  <iframe width="100%" height="200"
                                  src="http://www.youtube.com/embed/{{ pelicula.trailer }}">
                                  </iframe> 
                              </div>
                              {% endif %}
                          </div>
                          
                        </div>
                        <div class="modal-footer">
                          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
                        </div>
                      </div>
	        	{% endfor %}
	        </div>

	        <div class="pagination">
			    <span class="step-links">
			        {% if seleccion_oficial.has_previous %}
			            <a href="?page={{ seleccion_oficial.previous_page_number }}">Anterior</a>
			        {% endif %}

			        <span class="current">
			            Página {{ seleccion_oficial.number }} de {{ seleccion_oficial.paginator.num_pages }}.
			        </span>

			        {% if seleccion_oficial.has_next %}
			            <a href="?page={{ seleccion_oficial.next_page_number }}">Siguiente</a>
			        {% endif %}
			    </span>
			</div>
    	</div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
    $(function() {
        $("#btn_seleccion_nacional").click(function() {
            $.ajax({
                url: "{% url 'seleccion_oficial_filtro' evento.pk 'nacional' %}",
                context: document.body
            }).done(function(data) {
                $("#div_peliculas").html(data);
            });
        });
        $("#btn_seleccion_internacional").click(function() {
            $.ajax({
                url: "{% url 'seleccion_oficial_filtro' evento.pk 'internacional' %}",
                context: document.body
            }).done(function(data) {
                $("#div_peliculas").html(data);
            });
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal-trigger').leanModal();
    });
</script>
{% endblock scripts %}