{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="navbar-fixed hide-on-med-and-down" id="inicio">
    <nav id="nav_f" class="" role="navigation" style="background:{{ evento.color }}">
        <div class="container">
            <div class="nav-wrapper">
                <a href="{% url 'evento_anterior' evento.pk %}" class="brand-logo center">{{ evento.nombre }}</a>
            </div>
        </div>
    </nav>
</div>

<!--Parallax-->
<div>
    {% if evento.header_seleccion_oficial %}
      <img class="header responsive-img" src="{{ evento.header_seleccion_oficial.url }}">
    {% else %}
      <img class="header responsive-img" src="{{ evento.logo.url }}">
    {% endif %}
</div>

<div class="section scrollspy">
    <div class="container">
    	<h4 class="header text_b">Selección oficial</h4>
    	<div class="row">
        <div class="col s12">
            <h4 id="texto_introductorio" class="center header text_h2 flow-text">{{ evento.texto_introductorio_seleccion_oficial_nacional }}</h4>
        </div>
    		<div class="input-field col s12" style="float:right;">
    		  <div class="col s12 m6 l6" style="padding:3px">
    		  	<a class="waves-effect waves-light btn col s12" id="btn_seleccion_nacional" style="background:{{ evento.color }}">Nacional</a>
    		  </div>
    		  <div class="col s12 m6 l6" style="padding:3px">
    		  	<a class="waves-effect waves-light btn col s12" id="btn_seleccion_internacional" style="background:{{ evento.color }}">Internacional</a>
    		  </div>
	          
	     </div>
    	</div>
    	<div id="div_peliculas">
    		<div class="row">
		    	{% for pelicula in seleccion_oficial %}
		            <div class="col s12 m6 l4">
		                <div class="card" style="height: 420px">
		                    <div class="card-image waves-effect waves-block waves-light">
		                        <a class="modal-trigger" href="#modal{{ pelicula.pk }}"><img class="activator" src="{{ pelicula.still.url }}" style="height: 165px"></a>
		                    </div>
		                    <div class="card-content">
		                        <p style="font-size:16px;"><b>{{ pelicula.nombre }}</b></p>
                            {% if origen_seleccion_oficial == "internacional" %}
                              <p><b>País de origen:</b> {{ pelicula.origen }}</p>
                            {% else %}
                              <p><b>Universidad:</b> {{ pelicula.origen }}</p>
                            {% endif %}
                            {% if pelicula.proyeccion %}
                              <p>
                              {% if pelicula.proyeccion.fecha_y_hora|date:"w" == "0" %}
                                Domingo
                              {% elif pelicula.proyeccion.fecha_y_hora|date:"w" == "1" %}
                                Lunes
                              {% elif pelicula.proyeccion.fecha_y_hora|date:"w" == "2" %}
                                Martes
                              {% elif pelicula.proyeccion.fecha_y_hora|date:"w" == "3" %}
                                Miércoles
                              {% elif pelicula.proyeccion.fecha_y_hora|date:"w" == "4" %}
                                Jueves
                              {% elif pelicula.proyeccion.fecha_y_hora|date:"w" == "5" %}
                                Viernes
                              {% elif pelicula.proyeccion.fecha_y_hora|date:"w" == "6" %}
                                Sábado
                              {% endif %}

                              {{ pelicula.proyeccion.fecha_y_hora|date:"d" }}

                              de

                              {% if pelicula.proyeccion.fecha_y_hora|date:"n" == "1" %}
                                Enero
                              {% elif pelicula.proyeccion.fecha_y_hora|date:"n" == "2" %}
                                Febrero
                              {% elif pelicula.proyeccion.fecha_y_hora|date:"n" == "3" %}
                                Marzo
                              {% elif pelicula.proyeccion.fecha_y_hora|date:"n" == "4" %}
                                Abril
                              {% elif pelicula.proyeccion.fecha_y_hora|date:"n" == "5" %}
                                Mayo
                              {% elif pelicula.proyeccion.fecha_y_hora|date:"n" == "6" %}
                                Junio
                              {% elif pelicula.proyeccion.fecha_y_hora|date:"n" == "7" %}
                                Julio
                              {% elif pelicula.proyeccion.fecha_y_hora|date:"n" == "8" %}
                                Agosto
                              {% elif pelicula.proyeccion.fecha_y_hora|date:"n" == "9" %}
                                Septiembre
                              {% elif pelicula.proyeccion.fecha_y_hora|date:"n" == "10" %}
                                Octubre
                              {% elif pelicula.proyeccion.fecha_y_hora|date:"n" == "11" %}
                                Noviembre
                              {% elif pelicula.proyeccion.fecha_y_hora|date:"n" == "12" %}
                                Diciembre
                              {% endif %}

                              {{ pelicula.proyeccion.fecha_y_hora|date:"H:i" }}
                              </p>
                            {% endif %}


                            {% if pelicula.proyeccion_2 %}
                              <p>
                              {% if pelicula.proyeccion_2.fecha_y_hora|date:"w" == "0" %}
                                Domingo
                              {% elif pelicula.proyeccion_2.fecha_y_hora|date:"w" == "1" %}
                                Lunes
                              {% elif pelicula.proyeccion_2.fecha_y_hora|date:"w" == "2" %}
                                Martes
                              {% elif pelicula.proyeccion_2.fecha_y_hora|date:"w" == "3" %}
                                Miércoles
                              {% elif pelicula.proyeccion_2.fecha_y_hora|date:"w" == "4" %}
                                Jueves
                              {% elif pelicula.proyeccion_2.fecha_y_hora|date:"w" == "5" %}
                                Viernes
                              {% elif pelicula.proyeccion_2.fecha_y_hora|date:"w" == "6" %}
                                Sábado
                              {% endif %}

                              {{ pelicula.proyeccion_2.fecha_y_hora|date:"d" }}

                              de

                              {% if pelicula.proyeccion_2.fecha_y_hora|date:"n" == "1" %}
                                Enero
                              {% elif pelicula.proyeccion_2.fecha_y_hora|date:"n" == "2" %}
                                Febrero
                              {% elif pelicula.proyeccion_2.fecha_y_hora|date:"n" == "3" %}
                                Marzo
                              {% elif pelicula.proyeccion_2.fecha_y_hora|date:"n" == "4" %}
                                Abril
                              {% elif pelicula.proyeccion_2.fecha_y_hora|date:"n" == "5" %}
                                Mayo
                              {% elif pelicula.proyeccion_2.fecha_y_hora|date:"n" == "6" %}
                                Junio
                              {% elif pelicula.proyeccion_2.fecha_y_hora|date:"n" == "7" %}
                                Julio
                              {% elif pelicula.proyeccion_2.fecha_y_hora|date:"n" == "8" %}
                                Agosto
                              {% elif pelicula.proyeccion_2.fecha_y_hora|date:"n" == "9" %}
                                Septiembre
                              {% elif pelicula.proyeccion_2.fecha_y_hora|date:"n" == "10" %}
                                Octubre
                              {% elif pelicula.proyeccion_2.fecha_y_hora|date:"n" == "11" %}
                                Noviembre
                              {% elif pelicula.proyeccion_2.fecha_y_hora|date:"n" == "12" %}
                                Diciembre
                              {% endif %}

                              {{ pelicula.proyeccion_2.fecha_y_hora|date:"H:i" }}
                              </p>
                            {% endif %}

		                        <a class="modal-trigger waves-effect waves-light color_oficial" href="#modal{{ pelicula.pk }}" style="color:#BC426A;">Ver más</a>
		                    </div>
		                </div>
		            </div>

                    <!-- Modal Structure -->
                      <div id="modal{{ pelicula.pk }}" class="modal">
                        <div class="modal-content">
                          <h4>{{ pelicula.nombre }}</h4>
                          <div class="row">
                              <div class="col s4">
                                  <img src="{{ pelicula.poster.url }}" class="responsive-img">
                              </div>
                              <div class="col s8">
                                  <p>{{ pelicula.sinopsis }}</p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col s12 m6">
                                <p><b>Director: </b>{{ pelicula.director }}</p>
                                {% if origen_seleccion_oficial == "internacional" %}
                                  <p><b>País de origen:</b> {{ pelicula.origen }}</p>
                                {% else %}
                                  <p><b>Universidad:</b> {{ pelicula.origen }}</p>
                                {% endif %}
                                <p><b>Año: </b>{{ pelicula.year }}</p>
                                <p><b>Duración: </b>{{ pelicula.duracion }}</p>
                              </div>
                              <div class="col s12 m6">
                                  <img src="{{ pelicula.still.url }}" class="responsive-img">
                              </div>
                          </div>
                          {% if pelicula.trailer %}
                            <div class="row">
                                <div class="col s12">
                                    <iframe width="100%" height="200"
                                    src="http://www.youtube.com/embed/{{ pelicula.trailer }}">
                                    </iframe> 
                                </div>
                            </div>
                          {% endif %}
                          
                        </div>
                        <div class="modal-footer">
                          <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
                        </div>
                      </div>
	        	{% endfor %}
	        </div>

	        <div class="pagination">
			    <span class="step-links">
			        {% if seleccion_oficial.has_previous %}
			            <a href="?page={{ seleccion_oficial.previous_page_number }}">Anterior</a>
			        {% endif %}

			        <span class="current">
			            Página {{ seleccion_oficial.number }} de {{ seleccion_oficial.paginator.num_pages }}.
			        </span>

			        {% if seleccion_oficial.has_next %}
			            <a href="?page={{ seleccion_oficial.next_page_number }}">Siguiente</a>
			        {% endif %}
			    </span>
			</div>
    	</div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
    $(function() {
        $("#btn_seleccion_nacional").click(function() {
            $.ajax({
                url: "{% url 'seleccion_oficial_filtro' evento.pk 'nacional' %}",
                context: document.body
            }).done(function(data) {
                $("#div_peliculas").html(data);
                $("#texto_introductorio").text("{{ evento.texto_introductorio_seleccion_oficial_nacional }}");
            });
        });
        $("#btn_seleccion_internacional").click(function() {
            $.ajax({
                url: "{% url 'seleccion_oficial_filtro' evento.pk 'internacional' %}",
                context: document.body
            }).done(function(data) {
                $("#div_peliculas").html(data);
                $("#texto_introductorio").text("{{ evento.texto_introductorio_seleccion_oficial_internacional }}");
            });
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal-trigger').leanModal();
    });
</script>
{% endblock scripts %}