<div class="row">
    {% for pelicula in seleccion_oficial %}
        <div class="col s12 m6 l4">
            <div class="card" style="height: 420px">
                <div class="card-image waves-effect waves-block waves-light">
                    <a class="modal-trigger" href="#modal{{ pelicula.pk }}"><img class="activator" src="{{ pelicula.still.url }}" style="height: 165px"></a>
                </div>
                <div class="card-content">
                    <p style="font-size:16px;"><b>{{ pelicula.nombre }}</b></p>
                    {% if origen_seleccion_oficial == "internacional" %}
                      <p><b>País de origen:</b> {{ pelicula.origen }}</p>
                    {% else %}
                      <p><b>Universidad:</b> {{ pelicula.origen }}</p>
                    {% endif %}
                    {% if pelicula.proyeccion %}
                      <p>
                      {% if pelicula.proyeccion.fecha_y_hora|date:"w" == "0" %}
                        Domingo
                      {% elif pelicula.proyeccion.fecha_y_hora|date:"w" == "1" %}
                        Lunes
                      {% elif pelicula.proyeccion.fecha_y_hora|date:"w" == "2" %}
                        Martes
                      {% elif pelicula.proyeccion.fecha_y_hora|date:"w" == "3" %}
                        Miércoles
                      {% elif pelicula.proyeccion.fecha_y_hora|date:"w" == "4" %}
                        Jueves
                      {% elif pelicula.proyeccion.fecha_y_hora|date:"w" == "5" %}
                        Viernes
                      {% elif pelicula.proyeccion.fecha_y_hora|date:"w" == "6" %}
                        Sábado
                      {% endif %}

                      {{ pelicula.proyeccion.fecha_y_hora|date:"d" }}

                      de

                      {% if pelicula.proyeccion.fecha_y_hora|date:"n" == "1" %}
                        Enero
                      {% elif pelicula.proyeccion.fecha_y_hora|date:"n" == "2" %}
                        Febrero
                      {% elif pelicula.proyeccion.fecha_y_hora|date:"n" == "3" %}
                        Marzo
                      {% elif pelicula.proyeccion.fecha_y_hora|date:"n" == "4" %}
                        Abril
                      {% elif pelicula.proyeccion.fecha_y_hora|date:"n" == "5" %}
                        Mayo
                      {% elif pelicula.proyeccion.fecha_y_hora|date:"n" == "6" %}
                        Junio
                      {% elif pelicula.proyeccion.fecha_y_hora|date:"n" == "7" %}
                        Julio
                      {% elif pelicula.proyeccion.fecha_y_hora|date:"n" == "8" %}
                        Agosto
                      {% elif pelicula.proyeccion.fecha_y_hora|date:"n" == "9" %}
                        Septiembre
                      {% elif pelicula.proyeccion.fecha_y_hora|date:"n" == "10" %}
                        Octubre
                      {% elif pelicula.proyeccion.fecha_y_hora|date:"n" == "11" %}
                        Noviembre
                      {% elif pelicula.proyeccion.fecha_y_hora|date:"n" == "12" %}
                        Diciembre
                      {% endif %}

                      {{ pelicula.proyeccion.fecha_y_hora|date:"H:i" }}
                      </p>
                    {% endif %}


                    {% if pelicula.proyeccion_2 %}
                      <p>
                      {% if pelicula.proyeccion_2.fecha_y_hora|date:"w" == "0" %}
                        Domingo
                      {% elif pelicula.proyeccion_2.fecha_y_hora|date:"w" == "1" %}
                        Lunes
                      {% elif pelicula.proyeccion_2.fecha_y_hora|date:"w" == "2" %}
                        Martes
                      {% elif pelicula.proyeccion_2.fecha_y_hora|date:"w" == "3" %}
                        Miércoles
                      {% elif pelicula.proyeccion_2.fecha_y_hora|date:"w" == "4" %}
                        Jueves
                      {% elif pelicula.proyeccion_2.fecha_y_hora|date:"w" == "5" %}
                        Viernes
                      {% elif pelicula.proyeccion_2.fecha_y_hora|date:"w" == "6" %}
                        Sábado
                      {% endif %}

                      {{ pelicula.proyeccion_2.fecha_y_hora|date:"d" }}

                      de

                      {% if pelicula.proyeccion_2.fecha_y_hora|date:"n" == "1" %}
                        Enero
                      {% elif pelicula.proyeccion_2.fecha_y_hora|date:"n" == "2" %}
                        Febrero
                      {% elif pelicula.proyeccion_2.fecha_y_hora|date:"n" == "3" %}
                        Marzo
                      {% elif pelicula.proyeccion_2.fecha_y_hora|date:"n" == "4" %}
                        Abril
                      {% elif pelicula.proyeccion_2.fecha_y_hora|date:"n" == "5" %}
                        Mayo
                      {% elif pelicula.proyeccion_2.fecha_y_hora|date:"n" == "6" %}
                        Junio
                      {% elif pelicula.proyeccion_2.fecha_y_hora|date:"n" == "7" %}
                        Julio
                      {% elif pelicula.proyeccion_2.fecha_y_hora|date:"n" == "8" %}
                        Agosto
                      {% elif pelicula.proyeccion_2.fecha_y_hora|date:"n" == "9" %}
                        Septiembre
                      {% elif pelicula.proyeccion_2.fecha_y_hora|date:"n" == "10" %}
                        Octubre
                      {% elif pelicula.proyeccion_2.fecha_y_hora|date:"n" == "11" %}
                        Noviembre
                      {% elif pelicula.proyeccion_2.fecha_y_hora|date:"n" == "12" %}
                        Diciembre
                      {% endif %}

                      {{ pelicula.proyeccion_2.fecha_y_hora|date:"H:i" }}
                      </p>
                    {% endif %}

                    <a class="modal-trigger waves-effect waves-light color_oficial" href="#modal{{ pelicula.pk }}" style="color:#BC426A;">Ver más</a>
                </div>
            </div>
        </div>

        <!-- Modal Structure -->
        <div id="modal{{ pelicula.pk }}" class="modal">
          <div class="modal-content">
            <h4>{{ pelicula.nombre }}</h4>
            <div class="row">
                <div class="col s4">
                    <img src="{{ pelicula.poster.url }}" class="responsive-img">
                </div>
                <div class="col s8">
                    <p>{{ pelicula.sinopsis }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                  <p><b>Director: </b>{{ pelicula.director }}</p>
                  {% if origen_seleccion_oficial == "internacional" %}
                    <p><b>País de origen:</b> {{ pelicula.origen }}</p>
                  {% else %}
                    <p><b>Universidad:</b> {{ pelicula.origen }}</p>
                  {% endif %}
                  <p><b>Año: </b>{{ pelicula.year }}</p>
                  <p><b>Duración: </b>{{ pelicula.duracion }}</p>
                </div>
                <div class="col s12 m6">
                    <img src="{{ pelicula.still.url }}" class="responsive-img">
                </div>
            </div>
            {% if pelicula.trailer %}
              <div class="row">
                  <div class="col s12">
                      <iframe width="100%" height="200"
                      src="http://www.youtube.com/embed/{{ pelicula.trailer }}">
                      </iframe> 
                  </div>
              </div>
            {% endif %}
            
          </div>
          <div class="modal-footer">
            <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
          </div>
        </div>
    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if seleccion_oficial.has_previous %}
            <a href="?page={{ seleccion_oficial.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ seleccion_oficial.number }} de {{ seleccion_oficial.paginator.num_pages }}.
        </span>

        {% if seleccion_oficial.has_next %}
            <a href="?page={{ seleccion_oficial.next_page_number }}">Siguiente</a>
        {% endif %}
    </span>
</div>

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function(){
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal-trigger').leanModal();
    });
</script>
{% endblock scripts %}