{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
      <div class="row">
        <div class="s12 center-align center circle valign center-block">
          <div class="center-align center circle valign center-block" style="background:white;padding:5px;display: inline-block;">
            <a href="{% url 'evento_anterior' evento.pk %}"><img class="center-align center circle responsive-img valign center-block" src="{{ evento.logo.url }}"></a>
          </div>
        </div>
        <div class="s12 center-align center valign center-block">
          <h3 class="black-text">{{ evento.nombre }}</h3>
        </div>
      </div>
</div>

<div class="section scrollspy" id="work">
    <div class="container">
    	<h4 class="header text_b">Talleres</h4>
    	<!-- <div class="row">
    		<div class="input-field col s12" style="float:right;">
    		  <div class="col s12 m6 l6" style="padding:3px">
    		  	<a class="waves-effect waves-light btn col s12" id="btn_seleccion_nacional" style="background:{{ evento.color }}">Nacional</a>
    		  </div>
    		  <div class="col s12 m6 l6" style="padding:3px">
    		  	<a class="waves-effect waves-light btn col s12" id="btn_seleccion_internacional" style="background:{{ evento.color }}">Internacional</a>
    		  </div>
	          
	          
	        </div>
    	</div> -->
    	<div id="div_talleres">
          {% for fecha in days %}
		    	 {% for dia, talleres_list in talleres.items %}
             {% if fecha == dia %}
              <div class="row">
              <h4>{{ dia }}</h4>
                  {% for taller in talleres_list %}
  		            <div class="col s12 m6 l4">
  		                <div class="card">
  		                    <div class="card-image waves-effect waves-block waves-light">
  		                        <img class="activator" src="{{ taller.imagen.url }}" style="height: 150px">
  		                    </div>
  		                    <div class="card-content">
                              <h5>{{ taller.nombre }}</h5>
                              <p><b>Tallerista:</b> {{ taller.nombre_tallerista }}</p>
                              <p>{{ taller.descripcion }}</p>
                              <p><b>Hora:</b> {{ taller.fecha_y_hora|date:"H:i" }} - {{ taller.fecha_y_hora_final|date:"H:i" }}</p>
                              <p><b>Lugar:</b> {{ taller.sede.nombre }}</p>
                              <p><b>Costo:</b> {{ taller.costo}}</p>

                              <p><a class="modal-trigger waves-effect waves-light btn" href="#modal{{ taller.pk }}" style="background:{{ evento.color }};color:{{ evento.color_texto_nav }}">Ver más</a></p>

                                <!-- Modal Structure -->
                                <div id="modal{{ taller.pk }}" class="modal">
                                  <div class="modal-content">
                                    <h4>{{ taller.nombre }}</h4>
                                    <div class="row">
                                        <div class="col s4">
                                            <img src="{{ taller.imagen.url }}" class="responsive-img">
                                        </div>
                                        <div class="col s8">
                                            <p>{{ taller.descripcion }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p><b>Hora:</b> {{ taller.fecha_y_hora|date:"H:i" }} - {{ taller.fecha_y_hora_final|date:"H:i" }}</p>
                                        <p><b>Lugar:</b> {{ taller.sede.nombre }}</p>
                                        <p><b>Costo:</b> {{ taller.costo}}</p>

                                    </div>

                                    <a class="btn white-text" style="background:{{ evento.color }};color:{{ evento.color_texto_nav }}" href="{{ evento.link_inscripcion }}">Inscribirme</a>
                                    
                                  </div>
                                  <div class="modal-footer">
                                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
                                  </div>
                                </div>
  		                        
  		                    </div>
  		                </div>
  		            </div>
                  {% endfor %}
              </div>
              {% endif %}
	        	{% endfor %}
          {% endfor %}

	        <div class="pagination">
			    <span class="step-links">
			        {% if days.has_previous %}
			            <a href="?page={{ days.previous_page_number }}">Anterior</a>
			        {% endif %}

			        <span class="current">
			            Página {{ days.number }} de {{ days.paginator.num_pages }}.
			        </span>

			        {% if days.has_next %}
			            <a href="?page={{ days.next_page_number }}">Siguiente</a>
			        {% endif %}
			    </span>
			</div>
    	</div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function(){
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal-trigger').leanModal();
    });
</script>
{% endblock scripts %}